body {
  margin: 0;
  font-family: "DynaPuff", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button { background-color: rgba(255, 255, 255, .5);}

button:hover { background-color: rgba(255, 255, 255, .9);}

.todo-button {
  margin-left: 15px;
}

.form-button {
  margin-left: 8px;
}

h1 {
  margin-top: 65px;
  margin-bottom: 50px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 25px;
}

h4 {
  margin-top: 55px;
  margin-bottom: 15px;
}

.todo-container {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: auto;
}

input { background-color: rgba(255, 255, 255, .5);
}

input:hover { background-color: rgba(255, 255, 255, .9);}
