body {
  margin: 0;
  font-family: "DynaPuff", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo-button {
  margin-left: 15px;
}

.form-button {
  margin-left: 8px;
}

h1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

h3 {
  margin-top: 45px;
  margin-bottom: 15px;
}
